<!-- tag::security[] -->
<server description="Sample Servlet server">
    <featureManager>
        <feature>servlet-4.0</feature>
        <feature>appSecurity-3.0</feature>
        <feature>jsf-2.3</feature>
    </featureManager>


    <basicRegistry id="basic" realm="myRealm">
     <user name="bob" password="bobpwd" />  <!-- bobpwd -->
     <user name="alice" password="{xor}PjM2PDovKDs=" />  <!-- alicepwd -->

     <group name="admin">
         <member name="bob" />
     </group>

     <group name="user">
         <member name="bob" />
         <member name="alice" />
     </group>
   </basicRegistry>

   <keyStore id="defaultKeyStore" password="secret" />

   <httpEndpoint host="*" httpPort="${default.http.port}" httpsPort="${default.https.port}" id="defaultHttpEndpoint"/>

   <webApplication location="security-intro.war" contextRoot="/"/>

</server>
<!-- end::security[] -->
