<server description="Sample Liberty server">

  <featureManager>
    <platform>jakartaee-10.0</platform>
    <feature>appSecurity</feature>
    <feature>faces</feature>
    <feature>servlet</feature>
  </featureManager>

  <variable name="http.port" defaultValue="9080"/>
  <variable name="https.port" defaultValue="9443"/>

  <httpEndpoint id="defaultHttpEndpoint"  host="*"
    httpPort="${http.port}"
    httpsPort="${https.port}" />

  <include location="userRegistry.xml"/>

  <application location="guide-security-intro.war" type="war"
               id="guide-security-intro.war"
               name="guide-security-intro.war" context-root="/">
    <application-bnd>
      <security-role name="admin">
        <group name="Manager" />
        <group name="TeamLead" />
      </security-role>
      <security-role name="user">
        <group name="Employee" />
      </security-role>
    </application-bnd>
  </application>

</server>
