<?xml version="1.0" encoding="UTF-8"?>
<!-- tag::security[] -->
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
    version="3.1">
    <display-name>Hello Servlet</display-name>

    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>

  <login-config id="LoginConfig">
    <auth-method>BASIC</auth-method>
    <realm-name>WebRealm</realm-name>
  </login-config>

   <security-role>
    <role-name>admin</role-name>
  </security-role>
  <security-role>
    <role-name>user</role-name>
  </security-role>

    <security-constraint>
    <web-resource-collection>
      <web-resource-name>HelloServlet</web-resource-name>
      <url-pattern>/servlet</url-pattern>
      <url-pattern>/ServletSample/servlet</url-pattern>
      <http-method>GET</http-method>
    </web-resource-collection>
    <auth-constraint>
      <role-name>admin</role-name>
      <role-name>user</role-name>
    </auth-constraint>
  </security-constraint>

    <security-constraint>
    <web-resource-collection>
      <web-resource-name>AdminServlet</web-resource-name>
      <url-pattern>/adminonly</url-pattern>
      <url-pattern>/ServletSample/adminonly</url-pattern>

      <http-method>GET</http-method>
    </web-resource-collection>
    <auth-constraint>
      <role-name>admin</role-name>
    </auth-constraint>
  </security-constraint>


</web-app>
<!-- end::security[] -->