<!-- tag::security[] -->
<server description="Sample Liberty server">

    <featureManager>
        <feature>jaxrs-2.1</feature>
        <feature>jsonp-1.1</feature>
        <feature>jsf-2.3</feature>
        <!-- FOR SECURITY -->
        <feature>appSecurity-3.0</feature>
        <feature>servlet-4.0</feature>
    </featureManager>

    <httpEndpoint httpPort="${server.http.port}" httpsPort="${server.https.port}" id="defaultHttpEndpoint" />

    <!-- The keystore for SSL is built using the maven keytool plugin -->
    <keyStore id="defaultKeyStore" location="keystore.jceks" type="JCEKS" password="secret" />

    <basicRegistry id="basic" realm="WebRealm">
        <user name="bob" password="{aes}APCNjAKClAZjd6hWKYnqJvSFvi1/xZerjush0+jFE9Dl" />  <!-- bobpwd -->
        <user name="alice" password="{xor}PjM2PDovKDs=" />  <!-- alicepwd -->
        <user name="carl" password="{xor}PD4tMy8oOw==" />   <!-- carlpwd -->

        <group name="Manager">
            <member name="bob" />
        </group>

        <group name="TeamLead">
            <member name="carl" />
        </group>

        <group name="Employee">
            <member name="alice" />
            <member name="bob" />
            <member name="carl" />
        </group>
    </basicRegistry>

    <application location="${application.name}" type="war" id="${application.name}"
                 name="${application.name}" context-root="/">
        <application-bnd>
            <security-role name="admin">
                <group name="Manager" />
                <group name="TeamLead" />
            </security-role>
            <security-role name="user">
                <group name="Employee" />
            </security-role>
        </application-bnd>
    </application>


</server>
<!-- end::security[] -->
