<!-- tag::security[] -->
<server description="Sample Servlet server">
    <featureManager>
        <feature>servlet-4.0</feature>
        <feature>appSecurity-3.0</feature>
    </featureManager>

        <basicRegistry id="basic" realm="myRealm">
     <user name="bob" password="bobpwd" />  <!-- bobpwd -->
     <user name="alice" password="{xor}PjM2PDovKDs=" />  <!-- alicepwd -->

     <group name="admin">
         <member name="bob" />
     </group>

     <group name="user">
         <member name="bob" />
         <member name="alice" />
     </group>
 </basicRegistry>

    <httpEndpoint httpPort="${default.http.port}" httpsPort="${default.https.port}" id="defaultHttpEndpoint"  host="*" />

    <webApplication id="ServletSample" location="ServletSample-1.0-SNAPSHOT.war" contextRoot="${app.context.root}" />

<logging traceSpecification="com.ibm.ws.webcontainer.*=all:com.ibm.ws.security.javaeesec.*=all"
traceFileName="trace.log"
maxFileSize="20"
maxFiles="10"
traceFormat="BASIC" /> 
</server>
<!-- end::security[] -->